html,
body {
    background-color: #f0e8e8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bdb0b0;
    padding: 20px;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    display: inline-block;
    margin-left: 20px;
}

.navbar a {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.navbar a:hover {
    color: white;
}

.page-container {
    margin: 10px 30px;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-text-container {
    background-color: white;
    width: 50%;
    padding-left: 40px;
    padding-right: 10px;
}

.main-img {
    width: 400px;
    height: 400px;
    padding: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.main-header {
    font-size: 35px;
    text-transform: uppercase;
}

.main-text {
    margin-right: 30px;
}

.list {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.list li p {
    font-size: 16px;
    padding-left: 20px;
}

button {
    padding: 12px 16px;
    background-color: #c7b9b9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

button>a {
    text-decoration: none;
    font-size: 18px;
    color: #3a3a3a;
}

button>a:hover {
    color: white;
}

.main-text,
.out {
    font-size: 20px;
    text-align: justify;
}

.section-header {
    font-size: 25px;
    text-transform: uppercase;
}

.edu-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}

.edu-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.edu-img {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    max-height: 80px;
    max-width: 80px;
}

.uni-name {
    font-size: 22px;
}

.uni-details {
    font-size: 20px;
}

.uni-cred {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.uni-cred>img {
    width: 90%;
}

.appointment-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-text {
    font-size: 20px;
    text-align: center;
}

.app-options {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
}

.app-online,
.app-irl {
    padding: 14px;
    margin: 12px;
    border: 1px solid black;
}

.app-text img {
    margin-bottom: -4px;
    margin-right: 8px;
}

.app-text a {
    margin-right: 5px;
    color: initial
}

@media (max-width: 900px) {
    .navbar {
        width: 100%;
        padding: 8px;
    }

    .navbar li {
        margin: 8px 0;
    }

    .navbar a {
        font-size: 14px;
    }

    .page-container {
        margin: 40px 0;
    }

    .main-container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .main-text-container {
        margin: 0 !important;
        padding: 0 12px;
        width: 80%;
    }

    .main-img {
        max-width: 70vw;
        max-height: 70vw;
    }

    .main-header {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .main-text {
        margin-right: 0;
    }

    button {
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
    }

    .section-header {
        font-size: 18px;
        text-align: center;
    }

    .edu-container {
        display: block;
        height: fit-content;
        margin-bottom: 50px;
    }

    .edu-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px 30px;
    }

    .edu-img {
        margin: 10px;
    }

    .uni-name,
    .uni-details {
        font-size: 18px;
    }

    .uni-cred {
        width: 100%;
    }

    .uni-cred>img {
        width: 90%;
    }

    .appointment-container {
        margin-top: 50px;
        text-align: initial;
        height: 80vh;
    }

    .app-options {
        flex-direction: column;
        font-size: 18px;
        gap: 5px;
    }
}